.primary-card-title {
  display: flex;
  justify-content: flex-start;

  margin-top: var(--space-4xl);
  margin-bottom: 0px;

  font-size: var(--font-size-lg);
}

.title-lg-bold {
  font-size: var(--font-size-xxl);
  font-weight: 600;
}

.title-md-bold {
  font-size: var(--font-size-lg);
  font-weight: 600;
}

.title-md {
  font-size: var(--font-size-lg);
}

.title-link {
  font-size: var(--font-size-md);
  font-weight: 600;
}

.body-lg {
  font-size: var(--font-size-md);
}

.body {
  font-size: var(--font-size-ms);
}

a,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
