.primary-card-title {
  display: flex;
  justify-content: flex-start;

  margin-top: var(--space-4xl);
  margin-bottom: 0px;

  font-size: var(--font-size-lg);
}

.title-lg-bold {
  font-size: var(--font-size-xxl);
  font-weight: 600;
}

.title-lg {
  font-size: var(--font-size-xxl);
  font-weight: 400;
}

.title-md-bold {
  font-size: var(--font-size-md);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.title-md {
  font-size: var(--font-size-md);
  font-weight: 400;
  line-height: 110%;
}

.title-ml-bold {
  font-size: var(--font-size-ml);
  font-weight: 600;
  line-height: 110%;
}

.title-ml {
  font-size: var(--font-size-ml);
  font-weight: 400;
}

.title-s-bold {
  font-size: var(--font-size-sm);
  font-weight: 600;
}

.title-s {
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: 1.5;
}

.title-xs-bold {
  font-size: var(--font-size-xs);
  font-weight: 600;
}

.title-xs {
  font-size: var(--font-size-xs);
  font-weight: 400;
}

.body {
  font-size: var(--font-size-ms);
  font-weight: 400;
  line-height: 1.1;
}

.title-link {
  font-size: var(--font-size-md);
}

.title-link-bold {
  font-size: var(--font-size-md);
  font-weight: 600;
}

.title-card-bold {
  font-size: var(--font-size-lg);
  font-weight: 600;
  line-height: 1.1;
}

.title-card {
  font-size: var(--font-size-lg);
  line-height: 1.5;
}

.body-warningv1 {
  font-size: var(--font-size-ms);
  font-weight: 600;
  line-height: 1.5;
}

.body-warningv2 {
  font-size: var(--font-size-ms);
  font-weight: 400;
  line-height: 1.5;
}

.text-button {
  font-size: var(--font-size-md);
  font-weight: 600;
  line-height: 1.5;
}

.tittle-section-lg {
  font-size: var(--font-size-lg);
  font-weight: 600;

  line-height: 110%;

  display: inline;

  white-space: pre-line;
}

.text-section-ml {
  font-size: var(--font-size-ml);
  font-weight: 600;

  line-height: 110%;

  white-space: pre-line;
}

a,
p,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
