.mainsectionsvg {
    margin-bottom: -98px;
    margin-top: -200px;
}

.tertiarysectionsvg {
    rotate: 180deg;
    margin-top: 80px;
    margin-bottom: -50px;
}

.secondarysectionsvg {
    margin-top: -48px;
}
