.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;

  border-radius: var(--radius-default);
  border-width: var(--borderwidths-0);
  border: none;

  cursor: pointer;

  letter-spacing: 0.03em;

  white-space: nowrap;

  outline: 0;

  line-height: 1.1;

  box-shadow: #0e0e2c66 0px -1px 0px 0px inset;

  background-color: var(--color-primary);

  padding: 0px var(--space-lg);

  opacity: 1;

  width: 132px;
  height: var(--space-xxl);

  &:hover {
    opacity: 0.75;

    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    -moz-transition: all 0.2s ease 0.2s;
    -ms-transition: all 0.2s ease 0.2s;
    -o-transition: all 0.2s ease 0.2s;
  }
}

.button-not-hover {
  &:hover {
    opacity: 1;
  }
}

.button-secondary {
  background-color: transparent;

  border-width: var(--borderwidths-2);
  border-color: var(--color-primary);
  border-style: solid;
  border-image: initial;

  box-shadow: none;

  width: 132px;
  height: var(--space-xxl);
  padding: 0px var(--space-lg);
}

.button-warning {
  background-color: transparent;

  opacity: 1;

  box-shadow: none;

  outline: 0px;
  padding: var(--space-4xs);

  >svg {
    width: 20px;
  }
}

.button-setting {
  padding: var(--space-md) var(--space-sm);
  color: var(--color-subtitulo-lila);
  background-color: var(--background-color-secondary);
  border: none;
  align-content: center;
  box-shadow: none;

  .setting {
    display: flex;

    svg {
      width: 22px;
      height: 22px;
    }
  }
}

.button-scroll {
  position: fixed;

  right: 20px;

  bottom: calc(82px + env(safe-area-inset-bottom));

  width: var(--space-xxl);
  height: var(--space-xxl);

  padding: 0px;
}
