.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:var(--color-button-primary);

  border-radius: var(--radius-default);
  border-width: var(--borderwidths-0);
  border: none;

  cursor: pointer;

  letter-spacing: 0.03em;

  white-space: nowrap;

  outline: 0;

  line-height: 1.1;

  box-shadow: #0e0e2c66 0px -1px 0px 0px inset;

  &:hover {
    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    -moz-transition: all 0.2s ease 0.2s;
    -ms-transition: all 0.2s ease 0.2s;
    -o-transition: all 0.2s ease 0.2s;
  }
}

.button-primary {
  background-color: var(--color-primary);

  padding: 0px 16px;

  &:hover {
    background-color: var(--color-bg-button-hover);
  }
}

.button-secondary {
  background-color: transparent;

  border-width: var(--borderwidths-2);
  border-color: var(--color-primary);
  border-style: solid;
  border-image: initial;

  box-shadow: none;

  width: 132px;
  height: 48px;
  padding: 0px 24px;

  &:hover {
    opacity: 0.75;
  }
}

.button-warning {
  background-color: transparent;

  opacity: 1;

  box-shadow: none;

  outline: 0px;
  padding: 2px;

  > svg {
    width: 18px;
  }

  &:hover {
    opacity: 0.65;
  }
}

.button-setting {
  padding: var(--space-md) var(--space-sm);
  color: var(--color-subtitulo-lila);
  background-color: var(--background-color-secondary);
  border: none;
  align-content: center;
  box-shadow: none;

  .setting {
    display: flex;

    svg {
      width: 22px;
      height: 22px;

      &:hover {
        color: var(--background-dropdown-hover);
      }
    }
  }
}

.button-scroll {
  position: fixed;

  right: 20px;

  z-index: 3;

  bottom: calc(82px + env(safe-area-inset-bottom));

  width: var(--space-xxl);
  height: var(--space-xxl);

  padding: 0px;
}

.button-modal-content {
  background-color: var(--color-subtitulo-lila);

  &:hover {
    text-decoration: underline;
    opacity: 0.65;
    transition: text-decoration 0.2s ease 0.2s;
    -webkit-transition: text-decoration 0.2s ease 0.2s;
    -moz-transition: text-decoration 0.2s ease 0.2s;
    -ms-transition: text-decoration 0.2s ease 0.2s;
    -o-transition: text-decoration 0.2s ease 0.2s;
  }
}

.toggle {
  align-items: center;
  background-color: var(--background-toggle);
  border-radius: 24px;
  box-shadow: var(--shadows-inset);
  cursor: pointer;
  display: inline-flex;
  height: 32px;
  position: relative;
  transition: background-color 200ms ease 0s;
  width: 56px;

  input {
    cursor: pointer;
    opacity: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
  }

  svg {
    fill: white;
  }
}
