.warning-header {
  height: 70px;
  min-height: 70px;
  max-height: 70px;

  width: 100%;

  .main-container {
    height: 100%;
    padding: 0px;

    background: var(--color-warning-gradient-violet);

    display: flex;
    align-items: center;

    overflow: hidden;

    @media (max-width: 850px) {
      background: linear-gradient(
          0deg,
          rgba(39, 38, 44, 0.4),
          rgba(39, 38, 44, 0.4)
        ),
        linear-gradient(rgb(128, 81, 214) 0%, rgb(73, 34, 134) 100%);
    }
    .box-container {
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;

      display: flex;

      img {
        width: 92px;
        height: auto;
        max-width: 100%;

        overflow-clip-margin: content-box;
        overflow: clip;

        @media (max-width: 850px) {
          display: none;
        }
      }

      span {
        flex-shrink: 0;
        margin-right: 4px;
      }

      .text-container-todo {
        background: var(--color-warning-background);

        border-radius: var(--radius-default);

        padding: 8px;

        width: 60%;
        height: 60%;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        @media (max-width: 850px) {
          width: 100%;
          margin: 0 1rem;

          background: none;
        }
      }
    }

    .button-container {
      width: 55px;
      height: auto;
    }
  }
}
