.cta-card-yellow {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  flex: 1;
  text-align: start;

  width: 280px;
  height: 360px;
  gap: var(--space-rem);

  box-sizing: border-box;

  padding: 24px;

  overflow: inherit;

  color: var(--color-text);
  background: var(--color-gradient-yellow);

  border-radius: var(--radius-card);
  border: var(--borderWidths-1) solid #383241;
  border-bottom: var(--space-3xs) solid #383241;
  -webkit-border-radius: var(--radius-card);
  -moz-border-radius: var(--radius-card);
  -ms-border-radius: var(--radius-card);
  -o-border-radius: var(--radius-card);

  font: inherit;

  transform: rotate(-2.36deg);
}

.cta-card-violet {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  flex: 1;
  text-align: start;

  width: 280px;
  height: 360px;
  gap: var(--space-rem);

  box-sizing: border-box;

  padding: 24px;

  overflow: initial;

  color: var(--color-text);
  background: var(--color-gradient-violet);

  border-radius: var(--radius-card);
  border: var(--borderWidths-1) solid #383241;
  border-bottom: var(--space-3xs) solid #383241;
  -webkit-border-radius: var(--radius-card);
  -moz-border-radius: var(--radius-card);
  -ms-border-radius: var(--radius-card);
  -o-border-radius: var(--radius-card);

  font: inherit;

  transform: rotate(1.43deg);
}

.cta-card-icon {
  display: flex;
  justify-content: flex-end;

  height: auto;
}

.cta-card-button {
  display: flex;
  justify-content: center;
  text-align: center;

  margin-top: 20px;

  >button {
    display: flex;
    flex: 1;
    padding: 0px 24px;

    gap: 5px;
  }
}
