.flex-row-container {
  display: flex;

  gap: var(--space-rem);
}

.primary-card {
  display: flex;
  flex-flow: column wrap;
  flex: 1;

  padding: 1.5rem;

  overflow: inherit;

  background-color: var(--background-color-secondary);

  border-radius: var(--radius-card);
}

.primary-icon {
  display: flex;
  justify-content: flex-end;
}

.primary-body {
  font-size: var(--font-size-xs);
}
