.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: var(--spacing-xs);
}

.title-lg-bold {
  font-size: var(--font-size-xxl);
  font-weight: 600;
}

.title-md-bold {
  font-size: var(--font-size-lg);
  font-weight: 600;
}

.title-link {
  font-size: var(--font-size-md);
  font-weight: 600;
}

.body-lg {
  font-size: var(--font-size-md);
}