* {
  font-family: var(--font-normal)
}

.section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  padding: 48px 0px;
}

.box {
  width: 100%;
  max-width: 968px;
  padding: 0px 16px;
}

.flex-col-center {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  gap: var(--spacing-xs);
}

.flex-row {
  display: flex;
}

.flex-row-center {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.flex-sidebuton {
  display: inline;

  position: fixed;
  right: 18px;
  bottom: calc(82px + env(safe-area-inset-bottom));
}
