@mixin modal-bg-animation {
  $duration: 0.3s;

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  animation: appear $duration ease-out forwards;
  -webkit-animation: appear $duration ease-out forwards;
}

@mixin grid-border-animation {
  $duration: 3s;

  @keyframes bg-border {
    0% {
      background-position-x: 50%;
      background-position-y: 0px;
    }
    50% {
      background-position-x: 50%;
      background-position-y: 100%;
    }
    100% {
      background-position-x: 50%;
      background-position-y: 0px;
    }
  }

  background-size: 400% 400%;
  animation: bg-border $duration ease infinite;
  -webkit-animation: bg-border $duration ease infinite;
}
