.grid-container {
  display: flex;
  justify-content: center;
}

.theme1 {

  >div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 9rem;

    padding-left: var(--space-s);

    border-left: 1px solid var(--color-subtitulo-lila);
  }
}

.theme2 {
  display: flex;

  >.border-none {
    border: none;
  }

  >div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 8rem;

    padding-left: var(--space-s);

    border-left: 1px solid var(--color-text);
  }
}
