.main-section {
  padding-bottom: 100px;
  padding-top: 100px;
  border: 0px;
  vertical-align: baseline;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: radial-gradient(103.12% 50% at 50% 50%,
      rgb(33, 25, 58) 0%,
      rgb(25, 19, 38) 100%);

}