.main-section {
  border: none;
  vertical-align: baseline;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 100%;
  height: auto;

  padding-top: var(--space-xxl);
  padding-bottom: var(--space-xxl);

  background-image: radial-gradient(103.12% 50% at 50% 50%,
      rgb(33, 25, 58) 0%,
      rgb(25, 19, 38) 100%);

 
}