
footer {
    background-color:var(--backgroundcolor-secondary);
    width: 100%;
    height: 100vh;

    .div-padre-1{
        display: flex;
        justify-content: space-around;
        
        padding: 56px 40px 32px;

        .columnas-footer{
            display: flex;
            flex-direction: column;

            align-items: flex-start;
            margin-bottom: 30px;
            gap:var(--space-ms);
            
            cursor: pointer;
            
        }

        .raya-blanca{
            width: 14px;
            height: 1.3px;

            background-color: white;

        }
       

    }
    

}
