.primary-anchor {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;

  font-size: var(--font-size-md);
  line-height: 1.5;
  color: var(--color-primary);
  text-decoration: none;

  .anchorSVG {
    align-self: center;
    fill: var(--color-primary);
    color: var(--color-primary);
    flex-shrink: 0;
    margin-left: var(--space-3xs);
  }
}

.primary-anchor:hover {
  text-decoration: underline;
}

.navbar-anchor {
  position: relative;
  display: flex;
  align-items: center;

  color: var(--color-subtitulo-lila);
  font-size: var(--font-size-md);
  pointer-events: inherit;
  text-decoration: none;
}

.navbar-anchor-bold {
  position: relative;
  display: flex;
  align-items: center;

  font-weight: 600;
  color: var(--color-titulo-lila);
  font-size: var(--font-size-md);
  pointer-events: inherit;
  text-decoration: none;
}

.footer-anchor {
  display: flex;
  align-items: center;
  width: fit-content;

  font-size: var(--font-size-md);
  font-weight: 600;
  color: var(--color-text);
  text-decoration: none;
}

.footer-anchor:hover {
  text-decoration: underline;
}

.footer-anchor-secondary {
  display: flex;
  align-items: center;
  width: fit-content;

  font-size: var(--font-size-md);
  font-weight: 600;
  color: var(--color-secondary);
  text-decoration: none;
}

.footer-anchor-secondary:hover {
  text-decoration: underline;
}

.slide-bunny {
  display: flex;
  align-items: center;

  width: fit-content;
  width: 50px;
  height: 50px;

  z-index: 3;

  font-weight: 600;

  position: fixed;

  right: 18px;

  bottom: calc(146px + env(safe-area-inset-bottom));

  transition: all 0.07s linear 0.07s;
  -webkit-transition: all 0.07s linear 0.07s;
  -moz-transition: all 0.07s linear 0.07s;
  -ms-transition: all 0.07s linear 0.07s;
  -o-transition: all 0.07s linear 0.07s;
}

.button-bunny {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  color: var(--color-subtitulo-lila);

  font-weight: bold;

  padding: var(--space-md) var(--space-sm);
  
  transition: all 0.07s linear 0.07s;
  -webkit-transition: all 0.07s linear 0.07s;
  -moz-transition: all 0.07s linear 0.07s;
  -ms-transition: all 0.07s linear 0.07s;
  -o-transition: all 0.07s linear 0.07s;

  .bunny {
    display: flex;
    margin-right: 10px;
  }
}
