.primary-anchor {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;

  font-size: var(--font-size-md);
  line-height: 1.5;
  color: var(--color-primary);
  text-decoration: none;

  .anchorSVG {
    align-self: center;
    fill: var(--color-primary);
    color: var(--color-primary);
    flex-shrink: 0;
    margin-left: var(--space-3xs);
  }
}

.primary-anchor:hover {
  text-decoration: underline;
}

.navbar-anchor {
  position: relative;
  display: flex;
  align-items: center;

  color: var(--color-subtitulo-lila);
  font-size: var(--font-size-md);
  pointer-events: inherit;
  text-decoration: none;
}

.navbar-anchor-bold {
  position: relative;
  display: flex;
  align-items: center;

  font-weight: 600;
  color: var(--color-titulo-lila);
  font-size: var(--font-size-md);
  pointer-events: inherit;
  text-decoration: none;
}

.footer-anchor {
  display: flex;
  align-items: center;
  width: fit-content;

  font-size: var(--font-size-md);
  font-weight: 600;
  color: var(--text-color);
  text-decoration: none;
}
.footer-anchor:hover {
  text-decoration: underline;
}

.footer-anchor-secondary {
  display: flex;
  align-items: center;
  width: fit-content;

  font-size: var(--font-size-md);
  font-weight: 600;
  color: var(--color-secondary);
  text-decoration: none;
}
.footer-anchor-secondary:hover {
  text-decoration: underline;
}
.dropdown-secundario {
  svg {
    color: var(--color-linea-footer);
  }
}

.slide-bunny {
  display: flex;
  align-items: center;
  width: fit-content;

  font-weight: 600;

  position: fixed;
  right: 18px;
  transition: all 0.2s ease 0s;
  bottom: calc(146px + env(safe-area-inset-bottom));
}

.button-bunny {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  color: var(--color-subtitulo-lila);
  font-weight: bold;
  /* @media (max-width: 1200px) {
    display: none;
  } */
  .bunny {
    display: flex;
    margin-right: 10px;
  }
}
