.swiper {
  height: 200px;
}
.swiper-slide {
  overflow: visible;
}
img.slide1 {
  position: absolute ;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
img.slide2 {
  position: absolute ;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
img.slide3 {
  position: absolute ;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
img.slide4 {
  position: absolute ;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
