.swiper {
  height: 200px;
}
.swiper-slide {
  overflow: visible;
}
img.slide1 {
  width: 1100px;
  height: 189px;
}
img.slide2 {
  width: 1100px;
  height: 189px;
}
img.slide3 {
  width: 1100px;
  height: 189px;
}
img.slide4 {
  width: 1100px;
  height: 189px;
}
