.dropdown {
  padding: var(--space-md) var(--space-sm);

  position: relative;

  background-color: var(--background-color-secondary);
  border-radius: var(--radius-ms);

  &:hover {
    background-color: var(--background-dropdown-hover);
  }

}