.pancakeswap-icon {
  width: 160px;
  height: 56px;

  svg {
    stroke: none;
    fill-opacity: 1;
  }
}

.otro:hover {
  transform: scale(1.2, 1.2);
  fill: var(--color-secondary);
  transition: fill 0.3s linear 0.2s;
}

.redSocial:hover {
  transform: scale(1.2, 1.2);
  transition: transform 0.3s;
}
/*
.idiomas{
no lo estoy utilizando
}

*/
