@import "styles/variables.scss";

body {
  margin: 0;
  font-family: var(--font-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: var(--font-size-xxl);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-ml);
}

h4 {
  font-size: var(--font-size-md);
}

h5 {
  font-size: var(--font-size-ms);
}

h6 {
  font-size: var(--font-size-sm);
}