.dropdown-list {
  position: absolute;
  z-index: 5;
  top: 50px;
  left: 0;

  background-color: var(--background-color-secondary);
  border-radius: var(--radius-ms);

}

.dropdown-network {
  position: absolute;
  z-index: 5;
  top: 44px;
  left: 0;

  background-color: var(--background-color-secondary);
  border-radius: var(--radius-ms);

}

.dropdown-item {
  width: 280px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--space-md) var(--space-sm);

  &:hover {
    background-color: var(--background-dropdown-hover);
  }
}

.dropdown-bnb {
  display: flex;
  justify-content: flex-start;

  width: 200px;

}

.dropdown-idiomas {
  width: 100px;
}